<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title[page.lang] }}</title>
    <link rel="icon" href="{{ "/assets/favicon16.png" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
  </head>
  <body>
    <nav>
      <span>
        {%- if page.lang == 'ru' %}
        <a href="{{ '/' | relative_url }}">Главная</a>
        {% endif -%}
        {%- if page.lang == 'en' %}
        <a href="{{ '/en/' | relative_url }}">Home</a>
        {% endif -%}
      </span>
      {%- assign pages=site.pages | where:"ref", page.ref | sort: 'lang' -%}
      {%- for p in pages %}
      {%- if p.lang != page.lang %}
      <span>
        <a href="{{ p.url | relative_url }}">{{ site.languages[p.lang] }}</a>
      </span>
      {% endif -%}
      {% endfor -%}
    </nav>
    {{ content }}
  </body>
</html>
